* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    background: #080808;
    color: #fff;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}

p {
    font-size: 1.6rem;
}

.container{
    padding: 1rem 10%;
}

nav{
    border-radius: 0 0 .5rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(.5rem);
    -webkit-border-radius: 0 0 .5rem .5rem;
    -moz-border-radius: 0 0 .5rem .5rem;
    -ms-border-radius: 0 0 .5rem .5rem;
    -o-border-radius: 0 0 .5rem .5rem;
}

.logo{
    width: 6.5rem;
    margin: 1rem 0 1rem 217%;
}

nav ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 10% 0 0;
}

nav ul li{
    margin: 0 1rem;
    display: inline-block;
    list-style: none;
    margin: 1rem 2rem;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    position: relative;
    text-transform: capitalize;
    background: #00ffff00;
    padding: .5rem .7rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: .3rem;
    background: #00ffff;
    position: absolute;
    left: 0;
    bottom: -.6rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 3rem;
}

.header-text h1{
    font-size: 6rem;
    margin-top: 2rem;
}

.header-text h1:nth-child(3) {
    font-size: 2rem;
    font-weight: lighter;
    font-family: monospace;
}

.header-text h1 span{
    color: aqua;
}

nav .menu-icon {
    display: none;
}

/*-------------about-----------*/

#about{
    padding: 8rem 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;

}

.about-col-1 img{
    width: 100%;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 6rem;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 2rem 0 4rem;
}

.tab-links{
    margin-right: 5rem;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: .3rem;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -.8rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 1rem 0;
    font-size: 1.6rem;
}

.tab-contents ul li span{
    color: aqua;
    font-size: 1.4rem;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*--------services-------*/

#services{
    padding: 3rem 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem;
    margin-top: 5rem;
}
.services-list i svg{
    fill: aqua;
}
.services-list div{
    background: #262626;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 4rem;
    border-radius: 1rem;
    transition: background 0.5s, transform 0.5s;
    -webkit-transition: background 0.5s, transform 0.5s;
    -moz-transition: background 0.5s, transform 0.5s;
    -ms-transition: background 0.5s, transform 0.5s;
    -o-transition: background 0.5s, transform 0.5s;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.services-list div i{
    font-size: 5rem;
    margin-bottom: 3rem;
}
.services-list div h2{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 2rem;
    display: inline-block;
}
.services-list div:hover{
    background: linear-gradient(#ffffff33, aqua);
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
}

/*----------portfolio-----------*/

#portfolio{
    padding: 5rem 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem;
    margin-top: 5rem;
}
.work{
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.work img{
    width: 100%;
    border-radius: 1rem;
    display: block;
    transition: transform 0.5s;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(#0000001c, aqua);
    border-radius: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
    text-align: center;
    font-size: 1.4rem;
    transition: height 0.5s;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 2rem;
}
.layer a{
    margin-top: 2rem;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 6rem;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 5rem auto;
    width: fit-content;
    border: .1rem solid aqua;
    padding: 1.4rem 5rem;
    border-radius: .6rem;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s, color 0.5s;
    -webkit-transition: background 0.5s, color 0.5s;
    -moz-transition: background 0.5s, color 0.5s;
    -ms-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    font-size: 1.4rem;
}
.btn:hover{
    background: aqua;
    color: #333;
}
.layer a svg{
    fill: rgb(34, 34, 34);
}
/*---------------contact-----------*/

.contact-left{
    flex-basis: 35%;
    font-size: 1.6rem;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 3rem;
}
.contact-left p i svg{
    fill: aqua;
    margin-right: 1.5rem;
    font-size: 2.5rem;
}
.social-icons{
    margin-top: 3rem;
}
.social-icons a svg{
    text-decoration: none;
    font-size: 3rem;
    margin-right: 1.5rem;
    fill: #ababab;
    display: inline-block;
    transition: transform 0.5s, fill 0.5s;
    -webkit-transition: transform 0.5s, fill 0.5s;
    -moz-transition: transform 0.5s, fill 0.5s;
    -ms-transition: transform 0.5s, fill 0.5s;
    -o-transition: transform 0.5s, fill 0.5s;
}
.social-icons a svg:hover{
    fill: aqua;
    transform: translateY(-.5rem);
    -webkit-transform: translateY(-.5rem);
    -moz-transform: translateY(-.5rem);
    -ms-transform: translateY(-.5rem);
    -o-transform: translateY(-.5rem);
}
.btn.btn2{
    display: inline-block;
    background: aqua;
    color: #333;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.btn.btn2:hover {
    background: #00ffffe7;
}

.contact-right{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 1.5rem;
    margin: 1.5rem 0;
    color: #fff;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}
form .btn2{
    padding: 1.4rem 6rem;
    font-size: 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}
.copyright {
    width: 100%;
    text-align: center;
    padding: 2.5rem 0;
    background: #262626;
    font-weight: 300;
    margin-top: 2rem;
    font-size: 1.4rem;
}

.copyright abbr p {
    font-size: 1.4rem;
    margin-top: .5rem;
    cursor: default;
}

#msg {
    color: aqua;
    margin-top: -4rem;
    display: block;
}

/*--------css for small screen---------*/

/* max width 1200px */
@media only screen and (max-width: 1200px) {

}

/* max width 1200px */
@media only screen and (max-width: 1024px) {
    
}

/* max width 1200px */
@media only screen and (max-width: 980px) {
    nav i{
        margin-right: 10%;
    }
    nav i .openmenu svg{
        margin-left: 5rem;
    }
    nav ul {
        background: #ccc9c9b6;
        backdrop-filter: blur(.5rem);
        position: fixed;
        top: -1500%;
        width: 100%;
        height: 100vh;
        padding-top: 1rem;
        transition: top 0.5s;
        -webkit-transition: top 0.5s;
        -moz-transition: top 0.5s;
        -ms-transition: top 0.5s;
        -o-transition: top 0.5s;
        
}
    nav ul li{
        display: block;
        margin: 2.5rem;
        margin-left: 40%;
    }
    nav .menu-icon{
        position: absolute;
        top: 1.3rem;
        right: 0;
        cursor: pointer;
        display: inline-block;
        font-size: 4rem;
    }
}

/* max width 1200px */
@media only screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }
    .header-text{
        margin-top: 50%;
    }

}

/* max width 1200px */
@media only screen and (max-width: 480px) {
    header{
        background-image: url(../images/phone-background.jpg);
    }
    .logo{
        margin-left: 90%;
    }
    .header-text{
        margin-top: 166%;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 3rem;
    }
    .tab-links{
        margin-right: 2rem;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .header-text{
        margin-top: 100%;
    }
    
}