/* max width 1200px */
@media only screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}
/* max width 1024px */
@media only screen and (max-width: 1024px) {
    html {
        font-size: 52%;
    }
}

/* max width 980px */
@media only screen and (max-width: 980px) {
    header h1 {
        font-size: 4.5rem;
    }
}

/* max width 768px */
@media only screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }
    .open-categories-menu {
        display: flex;
    }
    .side-menu {
        width: 30%;
        transform: translateX(-28rem);
        -webkit-transform: translateX(-28rem);
        -moz-transform: translateX(-28rem);
        -ms-transform: translateX(-28rem);
        -o-transform: translateX(-28rem);
        transition: transform ease-in .5s;
        -webkit-transition: transform ease-in .5s;
        -moz-transition: transform ease-in .5s;
        -ms-transition: transform ease-in .5s;
        -o-transition: transform ease-in .5s;
    }
    .side-menu.active {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .body-box {
        width: 100%;
        transition: all ease-in-out .3s;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        -ms-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
    }
    .body-box.active {
        width: 70%;
    }
}
/* max width 480px */
@media only screen and (max-width:480px) {
    .search-box input[type="search"] {
        display: none;
    }
    .search-box label {
        display: none;
    }
    .side-menu {
        width: 60%;
    }
    .body-box.active {
        width: 40%;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
}