* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
:root {
    --background-color: #ffffff;
    --text-color: #999999;
    --hard-text-color: #474747;
    --thim-color: #007bff;
    --thim-hov-color: #0056b3;
    --zero-color: #181818;
    /* background */
    --liner-bg-0-1: #f5f7fa;
    --liner-bg-1-1: #c3cfe2;
    --liner-bg-0-2: #fdfbfb;
    --liner-bg-2-2: #ebedee;
    /*box shedow */
    --p-btn-box-shadow-left: #00000026;
    --p-btn-box-shadow-right: #0000000d;
}
body {
    font-family: 'poppins', sans-serif;
    background-image: linear-gradient(120deg, var(--liner-bg-0-2) 0%, var(--liner-bg-2-2) 100%);
}
::-webkit-scrollbar {
    width: .6rem;
    background: var(--text-color);
}
::-webkit-scrollbar-thumb {
    background: var(--thim-color);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}
::selection {
    background-color: var(--thim-color);
    color: var(--background-color);
    -webkit-text-fill-color: var(--background-color);
}
/* resuble compunents */
.row {
    padding: 0 4%;
}
ul li {
    list-style: none;
}
h2 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--hard-text-color);
}
h3 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--hard-text-color);
    margin-bottom: 1rem;
}
h5 {
    font-size: 1.6rem;
    color: var(--background-color);
    width: 100%;
    background: var(--liner-bg-1-1);
    padding: 1rem 5rem;
    text-transform: uppercase;
}
button {
    width: 15rem;
    height: 3.5rem;
    font-size: 1.6rem;
    background: var(--thim-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
button:hover {
    background: var(--thim-hov-color);
}
button:active {
    background: var(--thim-color);
}
.m-c-i {
    width: 1.5rem;
}
/* navigation bar */
nav {
    background: var(--thim-color);
    padding: 1rem 4%;
}
.nav-row {
    display: flex;
    align-items: center;
    gap: 5rem;
}
.logo-box img {
    width: 25rem;
}
.search-box input[type="search"] {
    width: 30rem;
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    background: var(--background-color);
    color: var(--hard-text-color);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}
.search-box label {
    font-size: 1.6rem;
    background: var(--background-color);
    color: var(--hard-text-color);
    padding: .5rem 1rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    cursor: pointer;
}
.side-menu {
    width: 25%;
    height: 92.6vh;
    padding-bottom: 5rem;
    background-image: linear-gradient(150deg, var(--liner-bg-0-1) 0%, var(--liner-bg-1-1) 100%);
    box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
    overflow: auto;
}
.side-menu ul li {
    font-size: 1.6rem;
    padding: 1rem 5rem;
    text-transform: capitalize;
    color: var(--hard-text-color);
    cursor: pointer;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-menu ul li:hover {
    background: var(--thim-color);
    color: var(--background-color);
}
.side-menu ul li:active {
    background: var(--thim-hov-color);
}
.cat-nam {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.un-cat-ul {
    position: relative;
    margin-top: .1rem;
    background: var(--background-color);
}
.un-cat-ul::before {
    content: '';
    width: .1rem;
    height: 100%;
    background: var(--hard-text-color);
    position: absolute;
    left: 8rem;
    top: 0;
}
.un-cat-ul .un-cat-li {
    margin-left: 10.1rem;
    padding: 1rem;
}
.un-cat-ul .un-cat-li:last-child {
    margin-bottom: .1rem;
}
.un-cat-ul .un-cat-li::before {
    content: '';
    width: 6%;
    height: .1rem;
    background: var(--hard-text-color);
    position: absolute;
    left: 8rem;
}
li .fa-chevron-down {
    display: none;
}
/* ------------------------body-box --------------------------*/
section {
    display: flex;
    align-items: start;
}
.body-box {
    width: 75%;
    height: 92.6vh;
    padding: 3rem 5rem;
}
.header h2 {
    text-shadow: .5rem .5rem .7rem var(--liner-bg-1-1);
}
.box {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}
#convertBtn {
    background: var(--background-color);
    color: var(--hard-text-color);
}
#convertBtn:hover {
    background: var(--thim-color);
    color: var(--background-color);
}
#convertBtn:active {
    background: var(--thim-hov-color);
}
.input {
    width: 45rem;
    height: 20rem;
    font-size: 1.6rem;
    padding: 1rem;
    border: none;
    outline: none;
    font-family: "Courier New", Courier, monospace;
    border: .1rem solid #cccccc;
    resize: none;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.output {
    width: 45rem;
    height: 20rem;
    font-size: 1.6rem;
    padding: 1rem;
    background: #f8f9fa;
    font-family: "Courier New", Courier, monospace;
    border: .1rem solid #cccccc;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    overflow-y: auto;
}
.left-t,
.right-b {
    display: flex;
    flex-direction: column;
    position: relative;
}
.button {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
ul a {
    text-decoration: none;
}
#hexToBinary {
    width: 0;
    height: 0;
    border: none;
    outline: none;
    position: absolute;
    top: 7rem;
    right: 15rem;
}
.color-p-htb {
    font-size: 2rem;
    color: var(--hard-text-color);
    cursor: pointer;
    position: absolute;
    top: -2.5rem;
    right: 1rem;
}
#hexInput,
.hexToBinaryOutput {
    height: 10rem;
}
/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: #000000; 
    background-color: #00000066;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2rem;
    border: .1rem solid #888;
    width: 40rem;
    text-align: center;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
.rgb-rgba-c-btn {
    margin: 1rem auto;
}
.plus-box {
    width: 45rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-plus-value {
    position: relative;
}
.input-plus {
    width: 20rem;
    height: 10rem;   
}
.output-plus{
    width: 20rem;
    height: 10rem;
    overflow-x: auto;
}
.output-plus::-webkit-scrollbar {
    height: .5rem;
}
#hex-hex2,
#hex-hex1 {
    width: 0;
    height: 0;
    border: none;
    outline: none;
    position: absolute;
    top: 2rem;
    right: 5rem;
}
.fa-plus {
    font-size: 3rem;
    color: var(--text-color);
}
.plus-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plus-btn {
    width: 45rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#colorIn,
#colorOut {
    outline: none;
    border: none;
    width: 45rem;
    height: 3rem;
    position: absolute;
    bottom: 4.6rem;
    background: none;
}