/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* max width 1200px */
@media only screen and (max-width: 1200px) {
    html {
        font-size: 60.5%;
    }

    header .header-text {
        margin-top: 30%;
    }

    .services-section .skillPercent {
        right: 0;
    }
}

/* max width 1024px */
@media only screen and (max-width: 1024px) {
    html {
        font-size: 58.5%;
    }

    nav ul li {
        margin: 1rem;
    }

    .services-section .skillPercent {
        width: 16.5rem;
    }

    .myWork-section .main-work-box {
        height: 20rem;
    }
    .main-work-box img {
        height: 20rem;
    }

    .myWork-section .work-download-box .download-menu {
        width: 14.5rem;
    }

    .download-menu ul li a {
        padding: .4rem 1rem;
    }
}

/* max width 980px */
@media only screen and (max-width: 980px) {
    .services-section .skillPercent {
        width: 15.5rem;
    }
}

/* max width 768px */
@media only screen and (max-width: 768px) {
    html {
        font-size: 55.5%;
    }

    nav .menu-icon {
        display: block;
        margin-right: 5rem;
        font-size: 3rem;
    }

    nav .menu-close {
        margin: 2rem;
    }

    nav ul {
        background:#9e9e9ec2;
        position: fixed;
        top: 0;
        right: -110%;
        width: 25rem;
        height: 100vh;
        z-index: 100;
        -webkit-transition: right 0.5s;
        -o-transition: right 0.5s;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 2rem;
    }



    .about-col-1 {
        -ms-flex-preferred-size: 34%;
            flex-basis: 34%;
    }

    .about-col-2 {
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
    }

    .col:nth-child(3) {
        margin-left: 0;
    }

    .services-section .skillPercent {
        width: 20rem;
        right: 2rem;
    }

    .myWork-section .main-work-box {
        height: 21rem;
    }
    .main-work-box img {
        height: 21rem;
    }

}

/* max width 480px */
@media only screen and (max-width:480px) {
    
    html {
        font-size: 50.5%;
    }

    header{
        background-image: url(../img/phone-background.jpg);
    }
    .logo{
        margin-left: 90%;
    }
    header .header-text{
        margin-top: 60%;
    }

    .about-col-1{
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
        margin: auto;
        margin-bottom: 3rem;
    }

    .about-col-2{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }

    .tab-links{
        margin-right: 2rem;
    }

    .services-section .skillPercent {
        right: 5rem;
    }

    .myWork-section .main-work-box {
        height: 25rem;
    }
    .main-work-box img {
        height: 25rem;
    }

    .download-menu ul li a {
        padding: .5rem 1rem;
    }

    .contact-section .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .contact-section .contact-left {
        width: 100%;
    }

    .contact-section .contact-right {
        width: 100%;
    }

}